<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
	  point="org.eclipse.mylyn.commons.notifications.ui.notifications">
	  <category id="org.graytin.jenkins" label="%category.label" />
	  <event
	    categoryId="org.graytin.jenkins"
	    id="org.graytin.jenkins.newBuilds"
	    label="%event.label"
	    selected="true">
	    <defaultHandler
	      sinkId="org.eclipse.mylyn.commons.notifications.sink.Popup">
	    </defaultHandler>
	  </event>
	  
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.graytin.jenkins.update.SDKBundleUpdatePreferencePage"
            id="org.graytin.jenkins"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
         <category
               id="org.graytin"
               name="%category.name">
         </category>
         <command
               categoryId="org.graytin"
               id="org.graytin.commands.updateSDKBundles"
               name="%command.name">
         </command>
         <command
               categoryId="org.graytin"
               id="org.graytin.commands.deleteDuplicates"
               name="%command.name.0">
         </command>
         <command
               categoryId="org.graytin"
               id="org.graytin.commands.updateWorkspace"
               name="%command.name.1">
         </command>
         <command
               categoryId="org.graytin"
               id="org.graytin.commands.updateLaunch"
               name="%command.name.2">
         </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.graytin.commands.updateSDKBundles"
            icon="icons/jar_download.png">
      </image>
      <image
            commandId="org.graytin.commands.deleteDuplicates"
            icon="icons/jar_delete.png">
      </image>
      <image
            commandId="org.graytin.commands.updateWorkspace"
            icon="icons/project_obj_refresh.png">
      </image>
      <image
            commandId="org.graytin.commands.updateLaunch"
            icon="icons/synced.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
               locationURI="menu:org.eclipse.ui.main.menu?after=additions">
            <menu
                  id="org.graytin.jenkins.graytin.menu"
                  label="%menu.label.0">
               <command
                     commandId="org.graytin.commands.updateSDKBundles"
                     tooltip="%command.tooltip">
               </command>
               <command
                     commandId="org.graytin.commands.updateWorkspace"
                     tooltip="%command.tooltip.1">
               </command>
               <command
                     commandId="org.graytin.commands.deleteDuplicates"
                     tooltip="%command.tooltip.0">
               </command>
               <command
                     commandId="org.graytin.commands.updateLaunch"
                     tooltip="%command.tooltip.2">
               </command>
            </menu>
         </menuContribution>
         <menuContribution
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                  id="org.graytin.jenkins.toolbar">
               <command
                     commandId="org.graytin.commands.updateSDKBundles"
                     tooltip="%command.tooltip">
               </command>
               <command
                     commandId="org.graytin.commands.updateWorkspace"
                     tooltip="%command.tooltip.1">
               </command>
               <command
                     commandId="org.graytin.commands.deleteDuplicates"
                     tooltip="%command.tooltip.0">
               </command>
               <command
                     commandId="org.graytin.commands.updateLaunch"
                     tooltip="%command.tooltip.2">
               </command>
            </toolbar>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.graytin.jenkins.update.handlers.DownloadSDKBundles"
            commandId="org.graytin.commands.updateSDKBundles">
      </handler>
      <handler
            class="org.graytin.jenkins.update.handlers.DeleteBinaryDuplicates"
            commandId="org.graytin.commands.deleteDuplicates">
      </handler>
      <handler
            class="org.graytin.jenkins.update.handlers.UpdateWorkspaceToBuildRevision"
            commandId="org.graytin.commands.updateWorkspace">
      </handler>
      <handler
            class="org.graytin.jenkins.update.handlers.UpdateLaunchConfiguration"
            commandId="org.graytin.commands.updateLaunch">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.graytin.jenkins.update.PreferenceIntializer">
      </initializer>
   </extension>
   
    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="org.graytin.jenkins.update.dialog.BuildDecorator"
            id="org.graytin.jenkins.dialog.BuildDecorator"
            label="%decorator.label"
            lightweight="true"
            state="true">
         <enablement>
              <objectClass
                        name="org.graytin.jenkins.jenkins.Build">
               </objectClass>
         </enablement>
      </decorator>
	  </extension>
</plugin>
